<!DOCTYPE html>
<html>

<head></head>
<header>
  <div class="main">
    <ul>
      <li><a routerLink="Contact/homepage">Home</a></li>
      <li><a routerLink="Contact/userlogin">Login</a></li>
      <li><a routerLink="Contact/register">Register</a></li>
      <li><a routerLink="Contact/contactinfo">Contactinfo</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
    <router-outlet> </router-outlet>
  </div>
</header>
<footer>
  <div class="end">
    <h1>ContactApplication@copyrights.com</h1>
  </div>
</footer>

<body>

</body>


</html>
