

* {
  box-sizing:border-box
}

form{

  border-radius: 10px;
  position:absolute;
  z-index: 2;
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  height: 750px;
  width: 500px;
  margin-top: 70px;
  margin-left: 350px;


}
/* Add padding to containers */
.container {
  padding:40px;


}
.container h1{
  color:rgb(255, 166, 0);
  /* background-color: white; */
  position:center;
  margin-left: 100px;
  font-family: Arial, Helvetica, sans-serif;
}
.container p{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.container b{
  color:rgb(255, 166, 0);
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px ;
  margin: 15px 0 22px 0;
  display: inline-block;
  border:none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.loginbtn {
  width: 240px;
  height: 40px;
  background: #0cb815;
  border: none;
  margin-top: 30px;
  margin-left: 80px;
  font-size: 20px;
  font-weight:bolder;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(5, 5, 5);
  transition: 0.4s ease;
}
.loginbtn:hover{
  background: #fff;
  color: #020202;
}

.loginbtn a{
  text-decoration: none;
  color: #000;
  font-weight: bold;

}



/* Add a red text color to links */
a {
  color:rgb(201, 185, 246);
}
.box{
  color:white;
}

/* Set a grey background color and center the text of the "sign in" section */
/* .signin {
  background-color: #f1f1f1;
  text-align: center;
} */
