

* {
  box-sizing:border-box
}
body{
  height: auto;
  width: auto;

}

form{
  /* background: url('src/assets/img/body3.jpg'); */
  border-radius: 10px;
  position:absolute;
  z-index: 2;
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  height: 750px;
  width: 500px;
  margin-top: 70px;
  margin-left: 350px;
  /* background-size: cover;
  background-position: center;
  border:bluesolid; */

}
/* Add padding to containers */
.container {
  padding:40px;

}
.container h1{
  color:rgb(255, 166, 0);
  /* background-color: white; */
  position:center;
  margin-left: 100px;
  font-family: Arial, Helvetica, sans-serif;
}
.container p{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.container b{
  color:rgb(255, 166, 0);
}
.container label{
  font-family: Arial, Helvetica, sans-serif;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px ;
  margin: 15px 0 22px 0;
  display: inline-block;
  border:none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
/* .registerbtn {
  display: inline-block;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;

  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
} */

.registerbtn{
  width: 240px;
  height: 40px;
  background: #0cb815;
  border: none;
  margin-top: 30px;
  margin-left: 80px;
  font-size: 20px;
  font-weight:bolder;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(5, 5, 5);
  transition: 0.4s ease;
}

.registerbtn:hover{
  background: #fff;
  color: #020202;
}

.registerbtn a{
  text-decoration: none;
  color: #000;
  font-weight: bold;

}

/* Add a red text color to links */
a {
  color:rgb(255, 166, 0);
}

.formend{
margin-top: 100px;
}
